/*Divide styles in order respective to layout*/
/*Page main axis will be column*/
/*MOBILE COMPATIBILITY NOT WORKED ON YET*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100vh; 
    /*Flexbox properties*/
    display: flex;
    flex-direction: column;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

/*Header*/
/*Display company name and utilities of the website*/
.header {
    background-color: #1f2937;
    color: #ffffff;
    margin: 0;
    padding: 18px 48px 48px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
}
/*Main body content*/
/*Quick about us and overview*/
.body-container {
    font-family: 'Roboto', sans-serif
}


.body1 {
    background-color: #1f2937; /*Filler color to visualize sections*/
    color: #ffffff;
    font-size: 18px;
    height: 500px;
    margin: 0;
    padding: 0 64px 0 64px;
    display: flex;
}

.body1-container2{
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.body1-container3{
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
}

.body1-header {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 8px 0;
    margin-bottom: 8px;
    padding: 0;
}

.body1-text {
    margin-bottom: 8px;
}

.body1-button {
    background-color: #3882f6;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 600;
    width: 120px;
}

.body1-img {
    border: 6px solid #3882f6;
    border-radius: 20px;
    height: 75%;
    width: 100%;
}

/*Content sub-section 2*/
/*Advertise services*/
.body2 {
    height: 500px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 48px;
}

.body2-header{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 36px;
    text-align: center;
}

.card-img {
    border: 6px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 12px;
    height: 200px;
    width: 200px;
}

.card-text {
    color: #1f2937;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/*Content sub-section 3*/
/*Testimonials*/
.body3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    height: 500px;
    margin: 0;
    padding: 0px 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.five-star {
    background-color: #e5e7eb;
    border-color: hsl(0, 0%, 0%);
    color: #FFD700;
    font-size: 50px;
    padding-top: 18px;
	text-align: center;
}

/*Content sub-section 4*/
.body4 {
    height: 500px;
    margin: 0;
    display: flex;
}


/*Footer*/
.footer {
    background-color: #1f2937;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 16px;
}