/*Divide styles in order respective to layout*/
/*Page main axis will be column*/
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
    min-height: 100vh;
    /*Flexbox properties*/
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

/*Header*/
.header {
    background-color: aquamarine;
    margin: 0;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Main body content*/
.body-container {
    font-family: Arial, Helvetica, sans-serif;
}


.body1 {
    background-color: darkcyan; /*Filler color to visualize sections*/
    font-size: 18px;
    margin: 0;
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.body1-header {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.body1-button {
    font-family: Roboto, sans-serif;
    width: 100px;
}

/*Content sub-section 2*/
.body2 {
    display: flex;
        align-items: center;
    justify-content: space-between;
}

.body2-header{
    text-align: center;
}

/*Content sub-section 3*/
/*Content sub-section 4/